@import url('https://fonts.googleapis.com/css2?family=Cause&display=swap');

/* Main tags */

* {
    transition: color 0.4s ease, font-family 0.4s ease, background-color 0.4s ease;
}

html {
    background-color: rgb(202, 206, 226);
    font-family: Candara;
    color: rgb(52, 57, 59);
    font-size: 18px;
}

main {
    padding: 20px;
}

footer {
    display: flex;
    flex-wrap: wrap;

    justify-content: right;
    align-items: center;

    padding: 20px;

}

hr {
    border: none;
    border-top: solid 1px rgb(52, 57, 59);
}

a {
    text-decoration: underline;
    color: rgb(52, 57, 59);
}

/* (practical) classes */

.no-hover {
    display: inline flex;
    gap: 20px;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* ---------- fun ---------- */

#petting {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    justify-content: right;
}


.companion {
    bottom: 0;
    right: 20%;

    display: none;
    justify-content: center;
    text-align: center;

    padding: 10px;
    width: 50%;
    height: auto;
    min-width: 200px;
    max-width: 400px;
}

.heart {
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;

    right: 40%;
    bottom: auto;

    animation: floatUp 1s linear;
}


@keyframes floatUp {
    0% {
        opacity: 1;
        transform: translate(0px, 0px)
        
    }

    100% {
        transform: translate(0px, -300px);
        opacity: 0;
    }
}
/* ---------- nav ---------- */

.navigation {
    display: flex;
    
    background-color: rgb(80, 84, 100);
    border-radius: 5px;
    color: white;
    font-size: 20px;
}

.navigation ul {
    display: flex;
    flex-flow: row;
    justify-content: center;

    list-style-type: none;
    margin: 0;
    padding: 10px;
    width: 100%;


}

.navigation ul li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;

}

.navigation ul li a {
    border-radius: 5px;
    text-decoration: none;
    color: white;

    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    padding: 20px;
    width: 70%;

}

.navigation ul li a:not(.no-hover):hover {
    background-color: rgba(52, 56, 69, 0.5);
    transition: .5s;
}

.navigation ul li a:visited {
    color: white;
}

/* semester note pages links */
.sem-link {
    display: block;
}

/* pretty toggle */

.switch {
    position: relative;
    display: inline-flex;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    height: 26px;
    width: 26px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: white;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(74, 85, 94);
    transition: .4s;
    border-radius: 30px;
}

.input:focus+.slider {
    box-shadow: 0 0 1px pink;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

/* pretty toggle styles */

.pretty-mode {
    color: rgb(91, 116, 149);
    font-family: 'Cause', sans-serif;
    font-weight: 680;
}

html.pretty-mode {
    min-height: 100vh;
    background: repeating-linear-gradient(45deg,
            rgb(214, 232, 255),
            rgb(214, 232, 255) 30px,
            white 30px,
            white 60px);
    background-attachment: fixed;
}

.pretty-mode > hr {
    border-top: dotted rgb(91, 116, 149) 4px;
    ;
}

.pretty-mode.companion {
    display: flex;
    flex-wrap: wrap;
}

.pretty-mode nav {
    background-color: rgb(169, 194, 231);
    border-color: white;
    border-style: solid;
    border-width: 8px;
}

#nav-no-hover .pretty-mode {
    color: white;
}