body {
    background-color:rgb(218, 221, 230);
}

table, th {
    border: 1px solid black;
    text-align: center;
}

td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}


code {
    font-family: "Courier New", Courier, monospace;
}

.top-bar {
    display: flex;
    flex-direction: row;
    background-color: grey;
}

.bar-buttons {
    background-color:rgb(79, 81, 109)y;
}


.limited_table {
    table-layout: fixed;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border-collapse: collapse;
}

.table-head {
    background-color:rgb(178, 181, 192);
}

.code-block {
    background-color: "grey";
}

.text-and-image {
    display: flex;
    flex-direction: row;
}

.image {
    padding-left: 20px;
}

.add-notes {
    text-align: left;
}