body {
    background-color:rgb(218, 221, 230);
}

table, th {
    border: 1px solid black;
}

img {
    display: inline;
    max-width: 500px;
    max-height: 500px;
}

th, td {
    padding: 10px;
}

td {
    font-weight: normal;
} 

code {
    font-family: "Courier New", Courier, monospace;
}

.limited_table {
    table-layout: fixed;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border-collapse: collapse;
}

.code-block {
    background-color: "grey";
}