body {
    background-color:rgb(218, 221, 230);
}

table, th {
    border: 1px solid black;
    border-style: dotted;
    text-align: center;
}

td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

img {
    display: inline;
    max-width: 300px;
    max-height: 300px;
}


code {
    font-family: "Courier New", Courier, monospace;
}

.top-bar {
    display: flex;
    flex-direction: row;
    background-color: grey;
}

.bar-buttons {
    background-color:rgb(79, 81, 109)y;
}


.limited_table {
    table-layout: fixed;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border-collapse: collapse;
}

.code-block {
    background-color: "grey";
}